*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#f5f6fa;
}

.settings-container{

max-width:420px;

margin:30px auto;

padding:20px;

}

.top{

display:flex;

align-items:center;

gap:15px;

margin-bottom:25px;

}

.top i{

font-size:24px;

cursor:pointer;

}

.setting-card{

display:flex;

justify-content:space-between;

align-items:center;

background:#ececec;

padding:18px;

border-radius:12px;

margin-bottom:15px;

cursor:pointer;

transition:.3s;

}

.setting-card:hover{

background:#dfdfdf;

}

.left{

display:flex;

align-items:center;

gap:15px;

font-size:20px;

font-weight:600;

}

.left i{

width:25px;

color:#5a3fa5;

}

.setting-card>i{

font-size:22px;

}

.switch{

position:relative;

width:50px;

height:26px;

}

.switch input{

display:none;

}

.slider{

position:absolute;

top:0;

left:0;

right:0;

bottom:0;

background:#ccc;

border-radius:30px;

cursor:pointer;

transition:.3s;

}

.slider::before{

content:"";

position:absolute;

width:20px;

height:20px;

background:white;

border-radius:50%;

top:3px;

left:3px;

transition:.3s;

}

input:checked+.slider{

background:#ff4d6d;

}

input:checked+.slider::before{

transform:translateX(24px);

}